
{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Solve x</title>
	<link rel="icon"  href="{% static 'images/resources/t.png' %}"sizes="16x16" alt="">
    
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/so.css' %}">

</head>
<body style="background:rgb(244, 248, 244)">


<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	<div class="responsive-header">
		<div class="mh-head first Sticky">
			
			<span class="mh-text">
				<a href="newsfeed.html" title=""><h3>Solve x</h3></a>
			</span>
			
		</div>

<!--search bar -->
		<div class="mh-head second">
		
		</div>

		






	</div><!-- responsive header -->
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="newsfeed.html"><h1><b style="color:rgb(0, 140, 255) ;">S</b><b style="color:rgb(49, 177, 49) ;">o</b><b style="color: rgb(0, 140, 255);">l</b><b style="color: rgb(49, 177, 49);">v</b><b style="color:rgb(0, 140, 255) ;">e</b><b style="color: rgb(49, 177, 49);">x</b></b></h1></a>
			
		</div>
		
			
		<div class="top-area">
			<div class="top-search">
				
			</div>
			
		<div class="user-img">
				<a   class="" >
				<span class="status f-online"></span>
				<div class="user-setting">
					
					<a title=""><i class="ti-user"></i><i style="color:rgb(49, 177, 49) "><i style="color: rgb(39, 182, 230) ">{{ user.username }}</i>Online</i></a>
					
				
				</div>
			</div>
			
		</div>
	</div><!-- topbar -->
	






<!-- right sidebar menu -->
		

<div class="dropdown" style="float:left;">
  <button class="dropbtn"><i class="fa fa-chevron-down"></i></button>
  <div class="dropdown-content" style="left:0;">
  		{% if user.profile.profile_image %}
     <p><a href="{% url 'profile' %}" title="Profile" data-toggle="tooltip" data-placement="right"><i class=""><img style=" height: 70px;width: 500px"src="{{ user.profile.profile_image.url }}" alt="{{ user.username}}"></i></a></p>
   {% endif %}

  <a href="{% url 'postlist'  %}" title="Home" data-toggle="tooltip" data-placement="right"><h4><i class="ti-home"></i></h4></a>

  <a href="{% url 'postform' %}" title="Post" data-toggle="tooltip" data-placement="right"><h4><i class="fa fa-edit"></i></h4></a>


  <a href="{% url 'twoA' %}" title="Solution" data-toggle="tooltip" data-placement="right"><h4><i class="ti-eye"></i></h4></a>


 
				
  <h7 style="color: black">LogOut <h4><a href="{% url 'landing_page' %}" class="ti-power-off" style="color: blue"><i></i> </a></h4></h7>
  
  
  </div>
</div>


  
  </div>
</div>



	<section>
		<div class="gap100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="shop-page">
							<div class="shop-filter-sec">
								
							</div>
							<div class="row">
								{% for x in care %}
						
								<div class="col-lg-3 col-sm-6">
									<div class="product-box">
										<figure>




											<span class="hot">{{x.value}}</span>
											<a><img src="{{ x.image.url }}" alt="img"  ></a>
										
										</figure>
										<div class="product-name">

											 <form action="{% url 'talent1_products' x.pk %}" method="post" name="like" id="likeform">
        {% csrf_token %}
        <button type='submit' name='like' value="{{x.pk}}" class="btn btn-outline-info  btn-sm" ><h4><i> <h5><a  title="">{{x.title}}</a></h5></c></i></h4></button>
       
    </form>



											
											<ul class="starz">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<i>{{x.Percentage_Discount}}% Discount</i>
											<div class="prices">
												<ins>$ {{x.new_price}}</ins>
												<del>$ {{x.old_price}}</del>
											</div>											
										</div>
									</div>
								</div>

{% endfor %}

						
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>





	



</div>.



<div class="side-panel">
		<center><h4 style="color: rgb(49, 177, 49)">LogOut</h4></center>
		<center><a href="{% url 'logout' %}" ><i></i><button class="btn btn-primary">logout</button></a></center>

</div><!-- side panel -->	




			<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="widget">
							<div class="foot-logo">
								<div class="logo">
								<a href="index-2.html" title=""><img  style="height: 60px ;border-radius:1000px" src="{% static 'images/resources/t.png' %}" alt=""></a>
								</div>	
								<p>
									Ashraf Kisoro Lutaaya took this simple idea and built it into a Problem solver plateform inorder to make you happy life
								</p>
							</div>
							<ul class="location">
								<li>
									<i class="ti-email"></i>
									<p>solvex@gmail.com</p>
								</li>
							
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title"><h4>follow</h4></div>
						<ul class="list-style">
							<li><i class="fa fa-facebook-square"></i> <a  title=""> #solvex</a></li>
							<li><i class="fa fa-twitter-square"></i><a  title="">#solvex</a></li>
							<li><i class="fa fa-instagram"></i><a  title="">#solvex</a></li>
							<li><i class="fa fa-google-plus-square"></i> <a >solvex@gmail.com</a></li>
							<li><i class="fa fa-pinterest-square"></i> <a  title="">#solvex</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title"><h4>Navigate</h4></div>
						<ul class="list-style">
							<li><a href="{% url 'about_us' %}"  title="">about us</a></li>
							
				
						</ul>
					</div>
				</div>
					<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title"><h4>useful links</h4></div>
						<ul class="list-style">
					
							<li><a href="{% url 'usage' %}"  title="">Support & Help</a></li>
							
						</ul>
					</div>
				</div>
					
				</div>
			</div>
		</footer>

	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/map-init.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>	
</html>


